.default-btn{
  background-image: linear-gradient(to right top, #19d3b3, #00d3c3, #00d2d1, #00d1dd, #10cfe7);
  font-weight: bold;
  padding: 15px 50px;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
}
